html, body{
    width:100%;
    height:100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(99, 98, 98);
    overflow-x:hidden;
    overflow-y:hidden;
}

.main{
    margin:100px;
}

#profile-box{
    width:340px;
    height:75px;
    background:transparent;
    border:2px solid rgb(99, 98, 98);
    border-radius:3px;
}

.profile-picture{
    position:relative;
    top:5px;
    left:5px;
    width:60px;
    height:60px;
    border-radius:50%;
    background-image:url("assets/bender.jpeg");
    background-size: 60px 60px;
}

.profile-name{
    position:relative;
    bottom:73.5px;
    left:72.5px;
}

.profile-links{
    position:relative;
    bottom:90px;
    left:70px;
}

ul, li{
    list-style-type: square;
}

a{
    text-decoration: underline;
    color:rgb(99, 98, 98);
    transition:1s;
}

a:hover{
    color:rgb(63, 62, 62);
}

.summary{
    margin:100px;
}

#summary-box{
    position:relative;
    bottom:90px;
    width:340px;
    height:340px;
    background:transparent;
    border:2px solid rgb(99, 98, 98);
    border-radius:3px;
}

.summary-title{
    position:relative;
    bottom:5px;
    left:7.5px;
    text-decoration:underline;
}

.summary-description{
    position:relative;
    bottom:15px;
    left:7.5px;
    max-width:335px;
}

.contact{
    margin:100px;
}

#contact-box{
    position:relative;
    bottom:180px;
    width:340px;
    height:110px;
    background:transparent;
    border:2px solid rgb(99, 98, 98);
    border-radius:3px;
}

.contact-title{
    position:relative;
    bottom:5px;
    left:7.5px;
    text-decoration:underline;
}

.contact-description{
    position:relative;
    bottom:15px;
    left:7.5px;
    max-width:340px;
}

.education{
    position:relative;
    bottom:657.5px;
    margin:100px;
    left:350px;
}

#education-box{
    position:relative;
    bottom:180px;
    width:340px;
    height:315px;
    background:transparent;
    border:2px solid rgb(99, 98, 98);
    border-radius:3px;
}

.education-title{
    position:relative;
    bottom:5px;
    left:7.5px;
    text-decoration:underline;
}

.education-description{
    position:relative;
    bottom:15px;
    left:7.5px;
    max-width:340px;
}

#education-list, #languages-list, #skills-list{
    position:relative;
    bottom:7.5px;
}

.languages{
    position:relative;
    bottom:657.5px;
    margin:100px;
    left:350px;
}

#languages-box{
    position:relative;
    bottom:270px;
    width:340px;
    height:225px;
    background:transparent;
    border:2px solid rgb(99, 98, 98);
    border-radius:3px;
}

.languages-title{
    position:relative;
    bottom:5px;
    left:7.5px;
    text-decoration:underline;
}

.languages-description{
    position:relative;
    bottom:15px;
    left:7.5px;
    max-width:340px;
}

.experience{
    position:relative;
    bottom:1315.5px;
    margin:100px;
    left:700px;
}

#experience-box{
    position:relative;
    bottom:270px;
    width:340px;
    height:225px;
    background:transparent;
    border:2px solid rgb(99, 98, 98);
    border-radius:3px;
}

.experience-title{
    position:relative;
    bottom:5px;
    left:7.5px;
    text-decoration:underline;
}

.experience-description{
    position:relative;
    bottom:15px;
    left:7.5px;
    max-width:340px;
}

.skills{
    position:relative;
    bottom:1405px;
    margin:100px;
    left:700px;
}

#skills-box{
    position:relative;
    bottom:270px;
    width:340px;
    height:314px;
    background:transparent;
    border:2px solid rgb(99, 98, 98);
    border-radius:3px;
}

.skills-title{
    position:relative;
    bottom:5px;
    left:7.5px;
    text-decoration:underline;
}

.skills-description{
    position:relative;
    bottom:15px;
    left:7.5px;
    max-width:340px;
}

.commands{
    position:relative;
    bottom:2062.5px;
    margin:100px;
    left:1050px;
}

#commands-box{
    position:relative;
    bottom:270px;
    width: 162.5px;
    height:553px;
    background:transparent;
    border:2px solid rgb(99, 98, 98);
    border-radius:3px;
}

.commands-title{
    position:relative;
    bottom:5px;
    left:7.5px;
    text-decoration:underline;
}

.commands-description{
    position:relative;
    bottom:15px;
    left:7.5px;
    max-width:155px;
}

#commands-list{
    position:relative;
    right:10px;
    bottom:5px;
}

.footer {
    font-size:11px;
    width: 80%; 
    margin: 0 auto; 
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
